<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>


    <connectionStrings>
        <add name="cn"
             connectionString="Data Source=Emi\SQLEXPRESS;Initial Catalog=MagazinTelefoane;Integrated Security=true;TrustServerCertificate=true" />
    </connectionStrings>


    <appSettings>
        <add key="parentTable" value="Clienti" />
        <add key="parentPrimaryKey" value="ID_Client" />
        <add key="childTable" value="Comenzi_Clienti" />
        <add key="childForeignKey" value="ID_Client" />
        <add key="selectParent" value="Select * from Clienti" />
        <add key="selectChild" value="Select * from Comenzi_Clienti" />
        <add key="childNumberColumns" value="3" />
        <add key="childColumnNames" value="Data_Comenzi,ID_Client" />
        <add key="childColumnNamesInsertParamenters" value="@data_comenzi,@id_client" />
        <add key="UpdateQuery"
             value="UPDATE Comenzi_Clienti SET Data_Comenzi=@data_comenzi,ID_Client=@id_client WHERE ID_Comanda_Client=@id_comanda_client" />
    </appSettings>


    <!-- <appSettings> -->
    <!--     <add key="parentTable" value="Telefoane" /> -->
    <!--     <add key="parentPrimaryKey" value="ID_Telefon" /> -->
    <!--     <add key="childTable" value="Recenzii_Telefoane" /> -->
    <!--     <add key="childForeignKey" value="ID_Telefon" /> -->
    <!--     <add key="selectParent" value="Select * from Telefoane" /> -->
    <!--     <add key="selectChild" value="Select * from Recenzii_Telefoane" /> -->
    <!--     <add key="childNumberColumns" value="5" /> -->
    <!--     <add key="childColumnNames" value="ID_Telefon,ID_Client,Rating,Comentariu" /> -->
    <!--     <add key="childColumnNamesInsertParamenters" value="@id_telefon,@id_client,@rating,@comentariu" /> -->
    <!--     <add key="UpdateQuery" -->
    <!--          value="UPDATE Recenzii_Telefoane SET ID_Telefon=@id_telefon,ID_Client=@id_client,Rating=@rating,Comentariu=@comentariu WHERE ID_Recenzie=@id_recenzie" /> -->
    <!-- </appSettings> -->

</configuration>