<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
        <property name="hibernate.connection.url">jdbc:sqlite:/D:/GithubRepositories/mpp-proiect-java-EmiCuciu/Laborator/sample.db</property>
        <property name="hibernate.dialect">org.hibernate.community.dialect.SQLiteDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Optional: register annotated classes here instead of Java code -->
        <mapping class="triatlon.model.Arbitru"/>
        <mapping class="triatlon.model.Proba"/>
        <mapping class="triatlon.model.Participant"/>
        <mapping class="triatlon.model.Rezultat"/>
    </session-factory>
</hibernate-configuration>