.parinte{
  display: flex;  
  border: 1px solid black;
  width: fit-content;
}

.box{
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid black;
}

.text{
  padding: 10px;
}

.imagine{
  max-width: 100%;
  max-height: 100%;
}