body {
    font-family: Arial, sans-serif;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.label-input {
    display: flex;
    gap: 20px;
    font-weight: bold;
}

label {
    width: 80px;
    text-align: right;
}

.input-text {
    background-image: url('b4cde9b825c31e6387df82fb40669bc6.jpg'); 
    background-repeat: repeat-x;
    background-size: calc(100% / 10) 100%; 
    border: 2px solid black;
    padding: 0px;
    width: 200px; 
    font-family: monospace;
    letter-spacing: calc(200px / 10 - 1ch);
}