body {
    font-family: Arial, sans-serif;
}

.dialog{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

ul {
    list-style-type: none;
}

li {
    display: flex;
    padding: 5px;
    width: 10px;
}

.alice::before{
    content: url(Stefan-Cel-Mare.png);  
}

.bob::after{
    content: url(ksadasdsa.png);
}